@font-face {
  font-family: 'ChenYuluoyan-center';
  src: url(./ChenYuluoyan-Thin-Monospaced.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Taipei';
  src: url(./TaipeiSans.ttf);
  font-weight: normal;
  font-style: normal;
}
